# Nom du workflow
name: "Build and deploy Github pages"

# Evenements sur lesquels il doit être déclenché
on:
  push: # <- Déclenché lorsque l'on pousse du code...
    branches:
      - master
      - dev
    paths:
      - gamebeye/**
      - examples/**

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install Poetry
        run: |
          curl -sSL https://install.python-poetry.org | python3 -
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: "Install Python dependencies"
        run: |
          poetry install

      - name: Setup a local virtual environment (if no poetry.toml file)
        run: |
          poetry config virtualenvs.create true --local
          poetry config virtualenvs.in-project true --local
      
      - uses: actions/cache@v3
        name: Define a cache for the virtual environment based on the dependencies lock file
        with:
          path: ./.venv
          key: venv-${{ hashFiles('poetry.lock') }}
      
      - name: Install the project dependencies
        run: poetry install
      
      - name: Run the automated tests (for example)
        run: poetry run pytest -v
